<!DOCTYPE HTML>
<html>
<head>
	<title>WooLivery</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="css/main.css" />
	<noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
</head>
<body class="is-preload">
	<header id="header">
		<a href="/generic" class="logo"><strong>Woo</strong> <span>Livery</span></a>
		<a href="/myDriverOrders" class="aToButtonD"id="orderNowButton">My Orders</a>
	</header>
	<section class="containerPageDriverOrder">
		<h1>Accept Orders</h1>

		<input type="text" name="" disabled value= "<%= user._id%>" id="driverId">
		<%  for(var i = 0 ; i < orders.length; i++){ %>
			<% if(orders[i].completed === true && orders[i].driverAccepted === false) {%>
				<section class="holdsOrderDiv">
					<ul>
						<li class="hide"><%= orders[i]._id %></li>
						<li> <span class="boldDriver">Ordered Items:</span>
							<% orders[i].orderedItem.forEach(item => {   %>
								<li> - <%=item %> </li>
								<%	}) %>
							</li>
							<li> <span class="boldDriver">Total Price:</span> <span class="boldDriverPrice">$<%= orders[i].totalPrice %></span></li>
							<li class="hide"><%= orders[i].driverAccepted %></li>
						</ul>
						<div class="holdsButton">
							<a  href="#"class="acceptOrder aToButton">Accept</a>
							<a href="#"class="declineOrder aToButton">Decline</a>
						</div>
					</section>
					<% } %>
					<% } %>

				</section>
				<script type="text/javascript" src="driverOrder.js">

				</script>
			</div>
		</body>
		</html>
