<!DOCTYPE HTML>
<html>
	<head>
		<title>WooLivery</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
		<noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
<section class="containerPage">


		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<%- include header.ejs %>
					</div>

				<!-- Contact -->
				<h2 class="driverId" id="driverIdOrder"><%= user._id%></h2>

					<h2 class="resName"> </h2>
				<h2>Tell Customers Why You Drive<input type="text" name="" value="" placeholder="why I drive" id="driverReason"></h2>
			 <section>

				<%  for(var i = 0 ; i < orders.length; i++){ %>
				<% if(orders[i].driverAccepted === true && orders[i].driverId == user._id && orders[i].delivered === false) {%>
				<div>
					<ul>
						<li><%= orders[i]._id %></li>
						<li><%= orders[i].customer %></li>
						<li><%= orders[i].orderedItem %></li>
						<li><%= orders[i].totalPrice %></li>

					</ul>
					<a  href="#"class="pickedUp aToButtonDriver" >Picked-Up</a>
					<a href="#"class="delivered aToButtonDriver">Delivered</a>
				</div>
				<% } %>
				<% } %>

			</section>
				<br>
				<%- include footer.ejs %>


			</div>
			</section>
			<script type="text/javascript" src="driverUpdate.js">

			</script>

			<!-- Specific orders to the driver -->
	</body>
</html>
