<!DOCTYPE HTML>
<html>
<head>
	<title>WooLivery</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="css/main.css" />
	<noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
</head>
<body class="is-preload">
	<%- include header.ejs %>

	<section class="containerPageOrderStatus">


		<!-- Wrapper -->
		<div id="wrapper">

			<h1>Order Confirmation</h1>
			<ul>

				<% for(var i=0; i< orders.length; i++){%>
					<% if (orders[i].delivered === false) { %>

						<div class="menuItemsContainer">



							<div class="menuItemsConfirmation">
								<li class="liPix">Total Price: <%= orders[i].totalPrice %> </li>
								<li class="liPix"> Orderd Items:
									<% orders[i].orderedItem.forEach(item => {   %>
										<li style="margin-left: 20px; list-style-type:circle; " class="liPix"><%= item %> </li>
										<%	}) %>
									</li>
								</div>

								<div class="flexOrderStatus">
									<a href="/orderStatus/<%=orders[i]._id%>" class="checkOrderStatus">Check Order Status	</a>
								</div>
							</div>
							<% } else { %>
								<% } %>
								<% } %>
							</ul>


							<p class="hide"> <%= user._id %> </p>
						</div>

						<!-- </div> -->
					</section>
					<%- include footer.ejs %>
				</body>
				</html>
