<!DOCTYPE HTML>
<html>
<head>
	<title>WooLivery</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="css/main.css" />
	<noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
</head>

<%- include header.ejs %>

<section class="containerPageOrderNow">
	<!-- <div id="main" class="alt"> -->
	<p class="userId hide"  class="displayNone"><%=user._id%></p>
	<section class="split">
		<% for(var i=0; i<results.length; i++){%>
			<section>
				<h1>Resturant Name: <span><%=results[i].resturantName %></span></h1>
			</section>
			<section>
				<h2>Menu Items</h2>
				<ul>
					<% for(var j=0; j<results[i].menu.length; j++){%>
						<li class="resItem">
							<span class="styleMenuItem"><%= results[i].menu[j].itemName%></span>
							<span class="styleMenuItem"> <%=results[i].menu[j].price%></span>
							<span class="hide"><%=results[i].createdBy %></span>
							<span class="hide"><%=results[i]._id %></span>
						</li>
						<% } %>
					</ul>
				</section>
				<% } %>
			</section>

			<section class="checkoutContainer">
				<ul class="cart">
					<span class="hideSpan"><em style="color:#242A41">Your Cart:</em></span>
				</ul>
				<p class="displayPrice"></p>

				<section class="floatButt moveButton">
					<button type="submit" name="button" class="clearCart hide cartHide "> Clear Cart</button>
				</section>
				<section class="floatButt">
					<button type="submit" name="button" class="hide checkout ">CheckOut</button>
				</section>
			</section>

		</section>
		<script src="orderNow.js" ></script>

	</body>
	</html>
