<!DOCTYPE HTML>
<html>
<head>
	<title>WooLivery</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/css/main.css" />
	<noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
</head>
<body class="is-preload">
	<%- include header.ejs %>
	<section class="containerPage">

		<!-- <div id="wrapper">

		</div> -->
		<!-- <span class="image main"><img src="images/foog.jpg" alt="" /></span> -->

		<h2 class="resName">Orders For <%= resturants[0].resturantName %></h2>

		<%  for(var i = 0 ; i < orders.length; i++){ %>
			<div class="holdsOrdersDiv">
				<ul>
					<li><%= orders[i]._id %></li>
					<li><%= orders[i].customer %></li>
					<li><em>The Order:</em> <%= orders[i].orderedItem%></li>
					<li> <em>Total Price:</em> <%= orders[i].totalPrice%></li>
				</ul>
				<div class="holdsButton">
					<a  href="#"class="acceptOrder aToButton" >Accept</a>
					<a href="#"class="declineOrder aToButton" >Decline</a>
					<a  href="#"class="completeOrder aToButton" >Order Completed</a>
				</div>
			</div>
			<% } %>
		</section>

		<%- include footer.ejs %>

		<script type="text/javascript" src="order.js"> </script>
	</body>
	</html>
